@import url("base");
@import url("metrics");


#sidebar {
  position: fixed;
  top: 160px;
  right: 0;
  width: 300px;
  height: 100%;
}

section#header {

  z-index: 1000;
  background: white;

  small {
    color: #F7951E;
    font-weight: bolder;
  }

  h1 {
    color: #5EC7CC;
    font-size: 14pt;
  }

  padding: 5px;
}

section#content {
  padding-top: 78px;
  padding-bottom: 150px;
}

#settings.sticky-top {
    top: 78px;
}

section#shell {
  background: aquamarine;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;

  input[type=text] {
    height: 40px;
    font-size: 16pt;
  }
}

section#events {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid darkolivegreen;
  z-index: 1000;
  background: white;

  div.data {
    width: 100%;
    max-height: 120px;
    overflow-y: scroll;
  }
}

