section#metrics {
  .metric {
    display: inline-block;
    position: relative;



    //max-height: 200px;
    width: 250px;

    background: white;

    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);

    overflow: hidden;
    padding: 5px 5px 25px 5px;
    margin: 5px;

    header {
      .metric-label {
        font-size: 8px;
        color: darkmagenta;
      }

      h3 {
        color: #F7951E;
        font-weight: bolder;
        font-size: 9pt;
        overflow: hidden;
      }
    }

    .metric-value {

      span.value {
        font-size: 16pt;
      }
    }

    .metric-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}



.metric-selector {
  padding: 5px;
  button {
    margin : 5px;
  }
}