<template>
  <span>
  <i class="fa" :class="type" aria-hidden="true"></i>
  </span>

</template>

<script>
    // render font-awesomesome icon
    export default {
        name: 'icon',
        props: ['type']
    };
</script>