<template>
  <div>
    <section id="header" class="row fixed-top">
      <div class="col">
        <h1>{{title}}</h1>
        <small>@ {{host}}</small>
      </div>

      <div class="col">
        <div class="status">
          <div class="connection">
            Connection: <span v-bind:class="{ 'badge-danger': connection.state === 'disconnected'}"
                              class="badge badge-primary">{{connection.state}}</span>
          </div>
          <div class="statusBar">Status: {{status}}</div>
        </div>
      </div>

      <div class="col">
        <section id="login" v-if="connection.state == 'disconnected'">

          <input v-model="auth.host" id="auth-host" type="text" placeholder="monitor.mycomany.com"/> <label
            for="auth-user">User:</label> <input
            id="auth-user" v-model="auth.user" type="text"/>

          <label for="auth-password">Password:</label> <input v-model="auth.password" id="auth-password" type="password"/>
          <button class="btn btn-primary" v-on:click="connect">Connect</button>
        </section>

        <button class="btn btn-danger" type="button" v-if="connection.state == 'connected'"
                v-on:click="disconnect">Disconnect
        </button>
      </div>
    </section>

    <section v-if="connection.state === 'connected'" id="content" class="row">

      <div id="center" class="col">
        <section id="settings" class="sticky-top">
          <div class="content">
            <metric-selector class="row" v-bind:metrics="metrics.available"></metric-selector>
          </div>
        </section>

        <section id="metrics" class="row">
          <metric v-bind:metric="m" v-bind:id="m.hash" v-for="m in filteredMetrics" :key="m.hash"></metric>
        </section>

        <section v-if="connection.state == 'connected' && false" id="shell">
          <input v-on:keyup.enter="send(shell.command)" id="shell-command" v-model="shell.command" type="text"/>
          <button v-on:click="send(shell.command)">Send</button>

          <h4 v-if="shell.history.length > 0">History</h4>
          <section id="shell-history">
        <span v-for="command in shell.history">
          <a v-on:click="send(command)">{{command}}</a>,
        </span>
          </section>
        </section>
      </div>

    </section>

    <div v-if="false" id="sidebar">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item list-group-item-danger"><strong>Failed</strong> Task failed!</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>

    <section id="events" class="row">

      <div class="column">
        <div class="data" id="events-data">
          <div v-for="event in events" class="event">
            X: <span v-if="false">{{event.timestamp}}</span> {{ event.text }}
          </div>
        </div>
      </div>


    </section>
  </div>
</template>

<script>
    import Vue from 'vue'

    import Icon from './components/common/icon.vue'
    import MetricIcon from './components/metrics/icon.vue'
    import Metric from './components/metrics/metric.vue'

    import MetricInfo from './metrics/common'


    const MetricSelector = {
        name: 'metric-selector',
        props: ['metrics'],
        template: '<div class="metric-selector"><button v-bind:class="{\'btn-info\': m.active, active: m.active}" v-for="m in metrics" :key="m.id" type="button" class="btn btn-sm" v-on:click="m.active = !m.active" >{{m.id}}</button></div>'
    };

    export default {
        el: '#app',
        components: {
            Metric,
            MetricSelector
        },
        created(){
            Notification.requestPermission().then(function (result) {

            });
        },
        mounted() {
            this.start()
            this.connect()
        },
        data() {
            return {
                message: 'Welcome to the web console!',
                events: [],
                shell: {
                    command: 'print hello',
                    history: []
                },
                auth: {
                    host: '',
                    user: 'admin',
                    password: 'admin',
                },
                connection: {
                    socket: undefined,
                    state: 'disconnected'
                },
                audio: {
                    sounds: ['beep', 'blip'],
                },
                metrics: {
                    enable: true,
                    available: [],
                    data: {}
                },
                status: 'idle',
                title: 'smub web console',
                host: 'local'
            }
        },
        computed: {
            filteredMetrics: function () {
                if (this.metrics.enable === false) {
                    return []
                }

                let idActive = mid => {
                    let g = this.metrics.available.find(m => {
                        return m.id === mid && m.active === true
                    })

                    if (g !== undefined) {
                        return true
                    }

                    return false;
                }

                let filtered = {};
                _.each(this.metrics.data, (value, hash) => {
                    if (idActive(value.id)) {
                        filtered[hash] = value;
                    }
                })

                // todo filter

                return filtered;
            },
        },
        methods: {

            notify: function (title, body) {
                // todo icon
                if (Notification.permission === 'granted') {
                    new Notification(title, {
                        body: body,
                        requireInteraction: false,
                        silent: true,
                    })
                }
            },

            playSound: function (name) {
                // todo
                let basePath = '/console';
                let aud = new Audio(`${basePath}/audio/${name}.mp3`);
                // todo make configurable
                aud.volume = 0.2;
                aud.play();
            },

            bell: function () {
                this.playSound('bell')
            },

            /**
             * Send a CLI command
             * @param command
             */
            send: function (command) {
                let theCommand = command.trim();
                if (theCommand.length === 0) {
                    return;
                }

                // keep the command in history
                this.shell.history.push(theCommand);

                // reset command field
                this.shell.command = '';

                document.getElementById('shell-command').focus()

                // send the command via socket
                this.connection.socket.send({
                    command: theCommand
                });

                // update status
                this.addStatus(`command scheduled: ${theCommand}`)
            },

            addStatus: function (text) {
                this.event({type: 'status', text: text})
            },

            setStatus: function (text) {
                this.status = text;
            },

            event: function (evt) {
                this.events.push(evt);

                const MAX_BUFFER = 1000
                if (this.events.length > MAX_BUFFER) {
                    this.events.shift()
                }

                let elm = document.getElementById('events-data')
                elm.scrollTop = elm.scrollHeight
            },

            disconnect: function () {
                if(this.connection.state !== 'connected'){
                    return
                }

                if(this.connection.socket){
                    this.connection.socket.close();
                }

                this.connection.state = 'disconnected';
                this.playSound('blip');
            },

            connect: function () {
                // todo only allow https in production
                let connection = '';

                this.addStatus(`Connecting to Host: ${connection}`);

                let socket = io(connection, {
                    path: `/console/socket.io`,
                    forceNew: false,
                    query: {
                        user: this.auth.user,
                        password: this.auth.password,
                    }
                });

                socket.on('close', ()=> {
                    this.connection.state === 'disconnected';
                    this.connection.socket = null;
                });

                socket.on('disconnect', ()=> {
                    this.connection.state === 'disconnected';
                    this.connection.socket = null;
                });

                socket.on('error', err=> {
                    console.error("failure in socket", err)
                })

                socket.on('connect', ()=> {
                    let handleMessage = message => {

                        if(message === 'authenticated'){
                            // keep the socket and update state
                            this.connection.socket = socket;
                            this.connection.state = 'connected'
                            this.playSound('blip')
                        } else if(message === 'unauthorized'){
                            this.disconnect()
                            return;
                        }

                        if (typeof message === 'string') {
                            this.event({type: 'message', text: message})
                        } else if (typeof message === 'object') {

                            // todo move handler out

                            if ('type' in message) {
                                if (message.type === 'event') {
                                    let eventName = message.event
                                    let data = message.data

                                    // a target has finished
                                    if (eventName === 'task.target.done') {
                                        let target = data.target;
                                        let task = data.task;


                                        this.event({
                                            type: eventName,
                                            timestamp: message.timestamp,
                                            text: `Target [success]: ${task.name} ${target.raw}`
                                        })
                                    } else if (eventName === 'task.target.failed') {
                                        let target = data.target;
                                        let task = data.task;

                                        let notificationText = `Target [FAILED]: ${task.name} ${target.raw}`

                                        this.event({
                                            type: eventName,
                                            timestamp: message.timestamp,
                                            text: notificationText
                                        });

                                        this.playSound('beep')
                                        this.notify('Task failed!', notificationText)

                                    } else if (eventName === 'metric') {
                                        // skip some metrics
                                        if (['unit.runtime'].includes(data.id)) {
                                            return
                                        }

                                        // todo handle metric

                                        // todo build this map, it should come from config (outside)
                                        let hashMap = {
                                            'sys.disks.free': ['fs'],
                                            'task.done': ['task_name'],
                                        };

                                        let mid = data.id;

                                        if (!this.metrics.available.find(m => {
                                                return m.id === mid
                                            })) {
                                            this.metrics.available.push({
                                                id: mid,
                                                active: false
                                            })
                                        }

                                        // build the hash based on some rules
                                        let hash = `${data.tags.host}_${data.id}`;
                                        let hashPrefix = hashMap[data.id]
                                        if (hashPrefix) {
                                            hashPrefix.forEach(p => {
                                                hash += '_' + data.tags[p]
                                            })
                                        }

                                        let info = MetricInfo.get(mid)
                                        if(info.filter(data) === true){
                                            //console.log(data.tags)
                                            //console.log("M", hash, data)

                                            let update = _.merge({}, data, {
                                                hash: hash,
                                                values: _.map(data.values, (v, key) => {
                                                    return {
                                                        v: v,
                                                        label: key,
                                                        key: key,
                                                        unit: MetricInfo.getUnit(mid, key),
                                                        type: MetricInfo.getType(mid, key),
                                                        precision: MetricInfo.getPrecision(mid, key),
                                                        scale: MetricInfo.getScale(mid, key),
                                                    }
                                                })
                                            });


                                            // use vue to update the key
                                            Vue.set(this.metrics.data, hash, update)
                                        }



                                        return

                                        this.event({
                                            type: 'metric',
                                            text: `[M] ${data.id} ${data.tags.host}`
                                        });

                                        // todo howto render all the different metrics : template for each

                                        console.log("METRIC", data)
                                    } else if (eventName === 'unit.done') {
                                        // console.log(`unit done: ${data.unit.id}`, data.data.ret)
                                    } else {
                                        console.log("EVT", eventName, data)
                                    }

                                } else if (message.type === 'init') {
                                    this.title = message.data.title;
                                    this.host = message.data.host
                                } else if (message.type === 'unit.result') {
                                    console.log("UNIT result", message)
                                } else {
                                    console.log("GOT unknown MSG", message)
                                }

                            }
                        }
                    }

                    // listen for messages
                    socket.on('message', handleMessage);


                })
            },

            /**
             * Start the Application
             */
            start: function () {
                this.addStatus('application started!')
            }
        }
    };
</script>