<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>web-console</title>

  <script src="<%= config.path %>/socket.io/socket.io.js"></script>
  <script src="<%= config.path %>/js/lodash.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <link rel="stylesheet" href="<%= config.path %>/app.css" type="text/css" media="all"/>
  <link rel="stylesheet" href="<%= config.path %>/styles/font-awesome.css" type="text/css" media="all"/>


  <link rel="icon"
        type="image/png"
        href="<%= config.path %>/images/favicon/green-heart-icon-64.png"/>
</head>
<body>

<div id="app" class="container-fluid"></div>

<script src="<%= config.path %>/app.js"></script>

</body>
</html>