<template>
  <icon class="metric-icon" :type="type"></icon>
</template>

<script>
  import Icon from '../common/icon.vue'
  import MetricInfo from '../../metrics/common'

  export default {
      name: 'metric-icon',
      props: ['metric'],
      components: {
          icon: Icon
      },
      data(){
          return {

          }
      },
      computed: {
          type(){
              return MetricInfo.getIcon(this.metric)
          }
      }
  }
</script>