<template>
  <div class="metric rounded">
    <header>
      <h3>{{metric.tags.host}}</h3>
      <small class="metric-label">{{metric.hash}}</small>

    </header>

    <metric-value v-for="v in metric.values" :key="v.key" :value="v"></metric-value>

    <metric-icon :metric="metric.id"></metric-icon>
  </div>
</template>

<script>

    import MetricValue from './value.vue'
    import MetricIcon from './icon.vue'

    export default {
        name: 'metric',
        props: ['metric'],
        components: {
            MetricValue,
            MetricIcon
        }
    }
</script>