<template>
  <div class="metric-value">
    <small class="label" v-if="showLabel">{{value.label}}</small>
    <span class="value">{{formatted}} <span v-if="value.unit !== false" class="unit">{{value.unit}}</span></span>
  </div>
</template>

<script>
    export default {
        name: 'metric-value',
        props: ['value'],
        computed: {
            showLabel() {
                if (this.value.key === 'value') {
                    return false
                }

                return true
            },
            formatted() {
                let val = this.value.v;

                if (this.value.scale) {
                    val = val * this.value.scale;
                }

                if (typeof val === 'number') {
                    val = val.toFixed(this.value.precision);
                }

                return val
            }
        }
    };
</script>